<html>
<head>
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="/assets/3rdparty/qrcode.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://default.wrioos.com/css/webrunes.css" rel="stylesheet">
</head>
<body>


<div id="main"></div>

<!--- <script src="https://js.braintreegateway.com/v2/braintree.js"></script> -->

<script src="/assets/client.js"></script>
<script >
    window.params = {
        wrioID: '<%= wrioID %>'
    };
    RenderCreateWallet();
</script>

</body>
</html>
