<html>
<head>
	<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet" />
	<link href="http://webrunes.github.io/Default-WRIO-Theme/css/webrunes.css" rel="stylesheet" />
</head>
<body>

<form id="checkout" method="post" action="/api/braintree/payment-methods">
	<div id="payment-form"></div>
	<input type="submit" value="Pay $10">
</form>

<div id="main" class="container"></div>

<script src="https://js.braintreegateway.com/v2/braintree.js"></script>
<script src="/assets/client.js"></script>

</body>
</html>
