<html>
<head>
    <title>Presale</title>
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://default.wrioos.com/css/webrunes.css" rel="stylesheet">
</head>
<body>


<div id="main"></div>

<script src='https://www.google.com/recaptcha/api.js'></script>
<script src="<%= domain %>common.js"></script>
<script src="<%= domain %>presale.js"></script>
</body>
</html>
